.navbar {
    width: 100vw;
    height: 55px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
}

/* logo */

.logo {
    cursor: pointer;
    color: rgb(98, 98, 98);
}

.logo:hover {
    color: black;
}

.logo:active {
    cursor: pointer;
    color: rgb(98, 98, 98);
}

/* logout button */

.logout {
    width: 60px;
    background-color: black;
    color: white;
    font-size: 13px;
    border: none;
}

.logout:hover {
    background-color: rgb(98, 98, 98);
}

.logout:active {
    background-color: black;
}