<div class="container">
    <form class="form">
        <h3>Login</h3>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <div class="form-group-question">
            <small [routerLink]="['/register']" class="question-text">Ainda não tem uma conta ?</small>
        </div>
        <button *ngIf="hideButton" type="submit" class="btn btn-primary" (click)="login()">Entrar</button>
        <div *ngIf="hideLoader" id="loader"></div>
        <div id="feedback"></div>
    </form>
</div>

